@inherits LayoutComponentBase
@using Snackbox.Web.Services
@inject AppStateService AppState
@implements IDisposable

<div class="page">
    @if (AppState.ShowNavbar)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main class="@(AppState.ShowNavbar ? "" : "fullscreen")">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    main.fullscreen {
        width: 100%;
        padding: 0;
    }

    main.fullscreen .content {
        padding: 0 !important;
        max-width: 100%;
    }
</style>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;

    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
