@inherits LayoutComponentBase
@using Snackbox.Components.Components

<div class="page">
    <div class="sidebar">
        <Snackbox.Components.Components.Layout.NavMenu
            ShowExitButton="true"
            HomeLink=""
            HomeLinkText="Home"
            ExitUrl="/scan" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Snackbar />
