@inherits LayoutComponentBase
@using Snackbox.Web.Services
@inject AppStateService AppState
@implements IDisposable

<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;

    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
